@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans:wght@100&display=swap');
*, body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    
}

.left-side{
    height: 100vh;
    width: 40%;
    min-width: 300px;
    position: relative;
}

.left-side img{
    height: 100vh;
    width:100%;
}

.right-side{
    height: 100vh;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.logo-background{
    height: 200px;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.5);
    color:white;
    position: absolute;
    top:20%;
    display:flex ;
    align-items:center;
    justify-content:center ;
    flex-direction: column;
 

}

.logo-background img{
    height: 100px;
    width: 100px;
    padding-top: 30px;


}

.logo-background p{
    font-size: 30px;
    color:black;
    font-family: 'Dancing Script',cursive,sans-serif;

}

.top-container{
    height: 30%;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content:flex-end;
    font-family: 'Noto Sans',sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
    padding-left: 35px;
    flex-wrap: wrap;
}

.top-container p {
    max-width: 680px;
    letter-spacing: .1em;
}
